@import 'tailwindcss';

span.loader::after,
span.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff3d00;
    width: 6px;
    height: 6px;
    transform: translate(150%, 150%);
    border-radius: 9999px;
}

span.loader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
}